Repository vintasoftware/django-ai-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: missing-migrations, generate-openapi-schema, generate-client

missing-migrations:
  name: missing-migrations-local
  entry: poetry run python example/manage.py makemigrations --check
  language: system
  pass_filenames: false

generate-openapi-schema:
  name: Generate OpenAPI schema
  entry: poetry run python example/manage.py generate_openapi_schema --output openapi_schema.json
  language: system
  pass_filenames: false

generate-client:
  name: Generate client
  entry: generate-ai-assistant-client example/openapi_schema.json example/assets/js/client
  language: system
  pass_filenames: false

Moves assistant and use_cases tests to test_helpers folder
  tests/test_helpers/__init__.py
  tests/test_helpers/cassettes/test_assistants/test_AIAssistant_invoke.yaml
  tests/test_helpers/cassettes/test_assistants/test_AIAssistant_with_rag_invoke.yaml
  tests/test_helpers/cassettes/test_use_cases/test_create_message.yaml
  tests/test_helpers/test_assistants.py
  tests/test_helpers/test_use_cases.py
Due: none

Reference documentation
  django_ai_assistant/api/views.py
  django_ai_assistant/exceptions.py
  django_ai_assistant/helpers/assistants.py
  django_ai_assistant/helpers/use_cases.py
  docs/assistants-ref.md
  docs/index.md
  docs/tutorial.md
  docs/use-cases-ref.md
  example/demo/views.py
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/test_helpers/test_use_cases.py
  tests/test_views.py
Due: generate-openapi-schema

Changes example/movies models to use UUIDs by default
  example/example/fields.py
  example/example/settings.py
  example/movies/apps.py
  example/movies/migrations/0004_alter_moviebacklogitem_id.py
Due: missing-migrations

Revert "Changes example/movies models to use UUIDs by default"
  example/example/fields.py
  example/example/settings.py
  example/movies/apps.py
  example/movies/migrations/0004_alter_moviebacklogitem_id.py
Due: missing-migrations

Update _run_as_tool return type
  django_ai_assistant/helpers/assistants.py
Due: none

Fix return type of update_thread
  django_ai_assistant/helpers/use_cases.py
Due: none

Dedicated README for example and fix package.json for npm link
  README.md
  example/README.md
  example/demo/views.py
  example/package-lock.json
  example/package.json
Due: generate-openapi-schema

New development section in README.md
  README.md
Due: none

Separate contributing guide
  CONTRIBUTING.md
  README.md
  docs/index.md
Due: none

Add contributing to docs
  CONTRIBUTING.md
  docs/contributing.md
  mkdocs.yml
Due: none

Update README.md
  README.md
Due: none

Add a robot icon and improve nav
  README.md
  docs/images/robot-happy-outline.svg
  docs/index.md
  mkdocs.yml
Due: none

Adds primary key configuration to settings files
  django_ai_assistant/conf.py
  django_ai_assistant/exceptions.py
  django_ai_assistant/models.py
  example/example/settings.py
  tests/settings.py
  tests/test_models.py
Due: missing-migrations

Model docs
  django_ai_assistant/models.py
  docs/models-ref.md
  mkdocs.yml
Due: missing-migrations

Starts fixing tests and typing for message and thread - still need to fix frontend typing
  django_ai_assistant/api/views.py
  django_ai_assistant/helpers/assistants.py
  django_ai_assistant/helpers/use_cases.py
  django_ai_assistant/models.py
  frontend/openapi_schema.json
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/test_views.py
  tests/utils.py
Due: missing-migrations, generate-openapi-schema, generate-client

Enable coveralls
  .github/workflows/django.yml
  .github/workflows/node.yml
Due: none

Add coverage badge
  README.md
Due: none

Remove unnecessary line
  .github/workflows/node.yml
Due: none

Removes old solution
  django_ai_assistant/exceptions.py
  django_ai_assistant/models.py
  example/example/settings.py
Due: missing-migrations

Update README.md
  example/README.md
Due: none

Path conditions:
  missing-migrations: any of: (.*/?(settings|migrations|models)/.+|.+models\.py|.+constants\.py|.+choices\.py|.+pyproject\.toml)
  generate-openapi-schema: any of: views\.py$
  generate-client: any of: openapi_schema\.json$
