Repository vintasoftware/django-ai-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: missing-migrations, generate-openapi-schema, generate-client

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
        exclude: >
          (?x)^(
              package-lock\.json
          )$
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: detect-private-key
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: missing-migrations
        name: missing-migrations-local
        entry: poetry run python example/manage.py makemigrations --check
        language: system
        # Only run missing migration check if migration-generating files have changed:
        files: (.*/?(settings|migrations|models)/.+|.+models\.py|.+constants\.py|.+choices\.py|.+pyproject\.toml)
        pass_filenames: false
      - id: generate-openapi-schema
        name: Generate OpenAPI schema
        entry: poetry run python example/manage.py generate_openapi_schema --output openapi_schema.json
        language: system
        files: views\.py$
        pass_filenames: false
      - id: generate-client
        name: Generate client
        entry: generate-ai-assistant-client example/openapi_schema.json example/assets/js/client
        language: system
        files: openapi_schema\.json$
        pass_filenames: false

Adds formatter for ids
  django_ai_assistant/api/views.py
  django_ai_assistant/helpers/formatters.py
  frontend/openapi_schema.json
  frontend/src/client/schemas.gen.ts
  frontend/src/client/types.gen.ts
  tests/test_models.py
Due: missing-migrations, generate-openapi-schema, generate-client

Fixes formatter
  django_ai_assistant/helpers/formatters.py
Due: none

Combine CI GA workflows into a single file
  .github/workflows/ci.yml
  .github/workflows/django.yml
  .github/workflows/node.yml
Due: none

Set COVERALLS_SERVICE_NAME
  .github/workflows/ci.yml
Due: none

Set github-token
  .github/workflows/ci.yml
Due: none

Set COVERALLS_PARALLEL
  .github/workflows/ci.yml
Due: none

Transforms cast_id into decorator
  django_ai_assistant/api/views.py
  django_ai_assistant/decorators.py
  django_ai_assistant/helpers/formatters.py
Due: generate-openapi-schema

Adds decorator to helper functions
  django_ai_assistant/decorators.py
  django_ai_assistant/helpers/assistants.py
  django_ai_assistant/langchain/chat_message_histories.py
  example/example/settings.py
  tests/settings.py
Due: none

Removes code from draft solution
  django_ai_assistant/conf.py
  tests/test_views.py
  tests/utils.py
Due: generate-openapi-schema

Several docs navigation improvements
  CONTRIBUTING.md
  README.md
  docs/get-started.md
  docs/reference/assistants-ref.md
  docs/reference/index.md
  docs/reference/models-ref.md
  docs/reference/use-cases-ref.md
  docs/support.md
  docs/tutorial.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: none

Fix CI badge
  README.md
Due: none

Add Check docs build to CI
  .github/workflows/ci.yml
Due: none

Adds tests for formatter and decorator
  django_ai_assistant/decorators.py
  tests/test_helpers/test_formatters.py
  tests/test_permissions.py
Due: none

Passes message_ids as kwarg so decorator works
  django_ai_assistant/helpers/use_cases.py
  tests/test_helpers/test_formatters.py
Due: none

Moves cast_id to decorators file
  django_ai_assistant/decorators.py
  django_ai_assistant/helpers/formatters.py
  tests/test_uuid_ids.py
Due: none

Automated docs build
  .github/workflows/docs-update.yml
  django_ai_assistant/__init__.py
  django_ai_assistant/api/views.py
  tests/test_views.py
Due: generate-openapi-schema

Adds docs for advanced usage - alternative PK
  docs/tutorial.md
  example/example/settings.py
Due: none

Reverts settings
  example/example/settings.py
Due: none

Fix .github/workflows/docs-update.yml
  .github/workflows/docs-update.yml
Due: none
