Repository vintasoftware/django-ai-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: missing-migrations, generate-openapi-schema, generate-client

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
        exclude: >
          (?x)^(
              package-lock\.json
          )$
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: detect-private-key
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: missing-migrations
        name: missing-migrations-local
        entry: poetry run python example/manage.py makemigrations --check
        language: system
        # Only run missing migration check if migration-generating files have changed:
        files: (.*/?(settings|migrations|models)/.+|.+models\.py|.+constants\.py|.+choices\.py|.+pyproject\.toml)
        pass_filenames: false
      - id: generate-openapi-schema
        name: Generate OpenAPI schema
        entry: poetry run python example/manage.py generate_openapi_schema --output openapi_schema.json
        language: system
        files: views\.py$
        pass_filenames: false
      - id: generate-client
        name: Generate client
        entry: generate-ai-assistant-client example/openapi_schema.json example/assets/js/client
        language: system
        files: openapi_schema\.json$
        pass_filenames: false

Adds setup guide and .env.example file
  .env.example
  README.md
Due: none

adds pre-commit step to readme
  README.md
Due: none

Fix poetry.lock
  poetry.lock
Due: none

Drop unnecessary import React
  example/assets/js/App.tsx
Due: none

Revert "Drop unnecessary import React"
  example/assets/js/App.tsx
Due: none

Use Mantine Title and List
  example/assets/js/App.tsx
Due: none

Use thread_detail_delete URL name properly
  django_ai_assistant/views.py
Due: generate-openapi-schema

More CRUD views
  django_ai_assistant/conf.py
  django_ai_assistant/helpers/assistants.py
  django_ai_assistant/permissions.py
  django_ai_assistant/views.py
  example/example/settings.py
  frontend/openapi_schema.json
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  tests/settings.py
Due: generate-openapi-schema, generate-client

Rename hooks useAssistant -> useAssistantList
  example/assets/js/components/Chat/Chat.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useAssistantList.ts
  frontend/src/hooks/useMessageList.ts
  frontend/src/hooks/useThreadList.ts
  frontend/tests/useAssistantList.test.ts
  frontend/tests/useMessageList.test.ts
  frontend/tests/useThreadList.test.ts
Due: none

Separates .env.example files into 2
  .env.example
  README.md
  example/.env.example
Due: none

Update .env.example with OPENAI_API_KEY
  example/.env.example
Due: none

Reestructure modules: separate API
  django_ai_assistant/__init__.py
  django_ai_assistant/api/__init__.py
  django_ai_assistant/api/schemas.py
  django_ai_assistant/api/views.py
  django_ai_assistant/helpers/assistants.py
  django_ai_assistant/langchain/__init__.py
  django_ai_assistant/langchain/chat_message_histories.py
  django_ai_assistant/langchain/tools.py
  django_ai_assistant/management/commands/generate_openapi_schema.py
  django_ai_assistant/urls.py
  example/demo/views.py
  example/movies/ai_assistants.py
  example/weather/ai_assistants.py
  frontend/openapi_schema.json
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/hooks/useAssistantList.ts
  frontend/src/hooks/useMessageList.ts
  frontend/src/hooks/useThreadList.ts
  frontend/tests/useAssistantList.test.ts
  frontend/tests/useMessageList.test.ts
  frontend/tests/useThreadList.test.ts
  tests/test_assistants.py
Due: generate-openapi-schema, generate-client

Uses assistant name instead of id
  example/assets/js/components/Chat/Chat.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useAssistant.ts
Due: none

Adjusts code docs
  frontend/src/hooks/useAssistant.ts
Due: none

Separate assistants from use cases
  django_ai_assistant/__init__.py
  django_ai_assistant/api/views.py
  django_ai_assistant/helpers/assistants.py
  django_ai_assistant/helpers/use_cases.py
  example/demo/views.py
  example/movies/ai_assistants.py
  example/rag/ai_assistants.py
  example/weather/ai_assistants.py
Due: generate-openapi-schema

Fix tests
  tests/ai/test_chat_message_histories.py
Due: none

Adds tests
  frontend/tests/useAssistant.test.ts
Due: none

Sort tool methods by the order they appear in the source code since this can be meaningful
  django_ai_assistant/helpers/assistants.py
  example/movies/ai_assistants.py
  example/rag/ai_assistants.py
  tests/test_assistants.py
Due: none

Fixes test output for useAssistant
  frontend/tests/useAssistant.test.ts
Due: none

Adds views tests for Assistant views
  tests/test_views.py
Due: generate-openapi-schema

Replaces hardcoded http values with import
  tests/test_views.py
Due: generate-openapi-schema
