Repository vintasoftware/django-ai-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: missing-migrations, generate-openapi-schema, generate-client

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
        exclude: >
          (?x)^(
              package-lock\.json
          )$
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: detect-private-key
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: missing-migrations
        name: missing-migrations-local
        entry: poetry run python example/manage.py makemigrations --check
        language: system
        # Only run missing migration check if migration-generating files have changed:
        files: (.*/?(settings|migrations|models)/.+|.+models\.py|.+constants\.py|.+choices\.py|.+pyproject\.toml)
        pass_filenames: false
      - id: generate-openapi-schema
        name: Generate OpenAPI schema
        entry: poetry run python example/manage.py generate_openapi_schema --output openapi_schema.json
        language: system
        files: views\.py$
        pass_filenames: false
      - id: generate-client
        name: Generate client
        entry: generate-ai-assistant-client example/openapi_schema.json example/assets/js/client
        language: system
        files: openapi_schema\.json$
        pass_filenames: false

Replaces hardcoded http values with import
  tests/test_views.py
Due: generate-openapi-schema

Fix useAssistant
  frontend/src/hooks/useAssistant.ts
  frontend/tests/useAssistant.test.ts
Due: none

Adds tests for list threads and also a helper to create threads
  tests/helpers.py
  tests/test_views.py
Due: generate-openapi-schema

Absolute imports everywhere
  django_ai_assistant/admin.py
  django_ai_assistant/urls.py
  example/demo/urls.py
  example/movies/admin.py
  example/movies/ai_assistants.py
  example/rag/admin.py
  example/rag/ai_assistants.py
Due: none

Rename tests/ai to tests/langchain
  tests/langchain/__init__.py
  tests/langchain/test_chat_message_histories.py
Due: none

Adds baker
  poetry.lock
  pyproject.toml
Due: none

Uses pytest client instead of TestCase's
  tests/test_views.py
Due: generate-openapi-schema

Removes unnecessary db decorators
  tests/test_views.py
Due: generate-openapi-schema

Fixes outdated import
  tests/test_views.py
Due: generate-openapi-schema

Updates threads tests to use pytest standards
  tests/test_views.py
Due: generate-openapi-schema

Removes helpers file
  tests/helpers.py
  tests/test_views.py
Due: generate-openapi-schema

Adds tests for threads
  tests/test_views.py
Due: generate-openapi-schema

Add django_auth to ninja API
  django_ai_assistant/api/views.py
  example/assets/js/components/Chat/Chat.tsx
  frontend/openapi_schema.json
Due: generate-openapi-schema, generate-client

Update tests to consider django auth
  tests/test_views.py
Due: generate-openapi-schema

Config csrf token
  django_ai_assistant/api/views.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/config.ts
Due: generate-openapi-schema

Add tests to cover hasNullThreadId
  frontend/src/hooks/useMessageList.ts
  frontend/tests/useMessageList.test.ts
Due: none

Starts working on list thread messages tests
  tests/test_views.py
Due: generate-openapi-schema

Removes useless json.dumps
  tests/test_views.py
Due: generate-openapi-schema

Favors reverse as opposed to hardcoded URLs
  tests/test_views.py
Due: generate-openapi-schema

Adds test for getting a specific thread and improves list thread test
  tests/test_views.py
Due: generate-openapi-schema

Basic docs with tutorial
  .editorconfig
  django_ai_assistant/api/views.py
  django_ai_assistant/helpers/assistants.py
  django_ai_assistant/helpers/use_cases.py
  django_ai_assistant/permissions.py
  docs/get-started.md
  docs/index.md
  docs/tutorial.md
  example/example/settings.py
  example/weather/ai_assistants.py
  mkdocs.yml
  poetry.lock
  pyproject.toml
  tests/settings.py
Due: generate-openapi-schema
