Repository vintasoftware/django-ai-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: missing-migrations, generate-openapi-schema, generate-client

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=500"]
        exclude: >
          (?x)^(
              package-lock\.json
          )$
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: detect-private-key
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.1.6
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: local
    hooks:
      - id: missing-migrations
        name: missing-migrations-local
        entry: poetry run python example/manage.py makemigrations --check
        language: system
        # Only run missing migration check if migration-generating files have changed:
        files: (.*/?(settings|migrations|models)/.+|.+models\.py|.+constants\.py|.+choices\.py|.+pyproject\.toml)
        pass_filenames: false
      - id: generate-openapi-schema
        name: Generate OpenAPI schema
        entry: poetry run python example/manage.py generate_openapi_schema --output openapi_schema.json
        language: system
        files: views\.py$
        pass_filenames: false
      - id: generate-client
        name: Generate client
        entry: generate-ai-assistant-client example/openapi_schema.json example/assets/js/client
        language: system
        files: openapi_schema\.json$
        pass_filenames: false

Fix tool methods on multiple calls w/o server restarts
  django_ai_assistant/helpers/assistants.py
  django_ai_assistant/tools.py
Due: none

Incomplete: assistant as tools example
  django_ai_assistant/helpers/assistants.py
  example/assets/js/api.ts
  example/demo/ai_assistants.py
  example/demo/views.py
  poetry.lock
  pyproject.toml
  tests/test_assistants.py
Due: generate-openapi-schema

Add callbacks
  example/assets/js/Chat/Chat.tsx
Due: none

Generate client in the react lib side
  .pre-commit-config.yaml
  django_ai_assistant/__init__.py
  django_ai_assistant/views.py
  example/assets/js/App.tsx
  example/assets/js/Chat/Chat.tsx
  example/package-lock.json
  example/package.json
  frontend/generateClient.js
  frontend/openapi-ts.config.ts
  frontend/openapi_schema.json
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/client/core/ApiError.ts
  frontend/src/client/core/ApiRequestOptions.ts
  frontend/src/client/core/ApiResult.ts
  frontend/src/client/core/CancelablePromise.ts
  frontend/src/client/core/OpenAPI.ts
  frontend/src/client/core/request.ts
  frontend/src/client/index.ts
  frontend/src/client/schemas.gen.ts
  frontend/src/client/services.gen.ts
  frontend/src/client/types.gen.ts
  frontend/src/config.ts
  frontend/src/hooks/useAiAssistantClient.tsx
  frontend/src/index.ts
  frontend/vite-env.d.ts
  frontend/vite.config.ts
  manage.py
  tests/settings.py
  tests/urls.py
Due: generate-openapi-schema, generate-client

Undo pnpm change
  .gitignore
Due: none

Fix dependencies
  example/package-lock.json
  example/package.json
Due: none

Movies example
  example/demo/ai_assistants.py
  example/demo/views.py
  example/demo/weather.py
  example_movies/assets/css/htmx_index.css
  example_movies/assets/js/App.tsx
  example_movies/assets/js/Chat/Chat.module.css
  example_movies/assets/js/Chat/Chat.tsx
  example_movies/assets/js/Chat/ThreadsNav.module.css
  example_movies/assets/js/Chat/ThreadsNav.tsx
  example_movies/assets/js/Chat/index.ts
  example_movies/assets/js/api.ts
  example_movies/assets/js/index.jsx
  example_movies/assets/js/types/css.d.ts
  example_movies/babel.config.js
  example_movies/example_movies/__init__.py
  example_movies/example_movies/asgi.py
  example_movies/example_movies/settings.py
  example_movies/example_movies/urls.py
  example_movies/example_movies/wsgi.py
  example_movies/manage.py
  example_movies/movies/__init__.py
  example_movies/movies/admin.py
  example_movies/movies/ai_assistants.py
  example_movies/movies/apps.py
  example_movies/movies/migrations/0001_initial.py
  example_movies/movies/migrations/__init__.py
  example_movies/movies/models.py
  example_movies/movies/templates/base.html
  example_movies/movies/templates/movies/react_index.html
  example_movies/movies/urls.py
  example_movies/movies/views.py
  example_movies/package-lock.json
  example_movies/package.json
  example_movies/postcss.config.cjs
  example_movies/prettier.config.mjs
  example_movies/tsconfig.json
  example_movies/webpack.config.js
Due: missing-migrations, generate-openapi-schema

IMDBURLFinderTool, to show assistants calling assistants
  django_ai_assistant/helpers/assistants.py
  example_movies/movies/admin.py
  example_movies/movies/ai_assistants.py
Due: none

Small changes in MovieRecommendationAIAssistant
  example_movies/movies/ai_assistants.py
Due: none

Include movies backlog in system instruction
  example_movies/movies/ai_assistants.py
Due: none

LRU Cache in IMDBURLFinderTool
  example_movies/movies/ai_assistants.py
Due: none

Markdown top margin fix
  example_movies/assets/js/Chat/Chat.module.css
  example_movies/assets/js/Chat/Chat.tsx
Due: none

Fix example files, sync with main
  example/demo/ai_assistants.py
  example/demo/weather.py
  example/example/settings.py
Due: none

Drop unused deps
  poetry.lock
  pyproject.toml
Due: none

Add comment
  example/assets/js/App.tsx
Due: none

Update deps
  poetry.lock
  pyproject.toml
Due: none

Reorder backlog functionality in movies example
  django_ai_assistant/admin.py
  example_movies/movies/admin.py
  example_movies/movies/ai_assistants.py
  example_movies/movies/migrations/0002_alter_moviebacklogitem_options_and_more.py
  example_movies/movies/models.py
Due: missing-migrations

Fix reorder_backlog
  example_movies/movies/models.py
Due: missing-migrations

Drop unnecessary list_select_related
  django_ai_assistant/admin.py
Due: none

Fix tests
  tests/test_assistants.py
Due: none
